@import "bootstrap-sprockets";
@import "bootstrap";

// About page
.about-header {
  background-image: url(image-path('code.jpg'));
}

// Home page
@media (min-width: 992px) {
  .crypto-data.row{
    display: flex;
    align-items: center;
  }
}



